<font size=6 color='red'>30 días de Python: Día 7 - Tuplas</font>

---

## Tuplas (tuple)

Una `tupla` es una colección de diferentes tipos de datos ordenados e inmutables. Las tuplas se escriben con corchetes, `()`.
Una vez que se crea una tupla, no podemos cambiar sus valores. 
No podemos usar métodos de agregar, insertar, eliminar en una tupla porque no es modificable (mutable). 
A diferencia de `list`, `tuple` tiene pocos métodos. Métodos relacionados con las tuplas:

- *`tuple():`* Para crear una tupla vacía.
- *`count():`* Para contar el número de un elemento específico en una tupla.
- *`index():`* Para encontrar el índice de un elemento específico en una tupla.
- *`operador +`*: Unir dos o más tuplas y crear una nueva tupla.

---

## Creando una tupla

**Tupla vacía: Creación de una tupla vacía.**

*Sintaxis:*

```python
tupla_vacia = ()

```

---

## O usando el constructor de tuplas

*Sintaxis:*

```python
tupla_vacia = tuple()

```

---

*Ejemplo de tuplas:*

```python
tupla = ('elemnto1', 'elemnto2', 'elemnto3')
frutas = ('banana', 'naranja', 'mango', 'limon')

```

---

## Longitud de la tupla

Usamos el método `len()` para obtener la longitud de una tupla. 

*Sintaxis:*

In [ ]:
tupla = ('elemnto1', 'elemnto2', 'elemnto3')
print(len(tupla))

*Salida:*

```text
3

```

---

## Acceso a elementos de tupla

Indexación positiva similar al tipo de datos de lista, usamos indexación positiva o negativa para acceder a elementos de tupla. 

*Sintaxis:*

```python
tupla = ('elemnto1', 'elemnto2', 'elemnto3')

primer_elemnto = tupla[0]
segundo_elemnto = tupla[1]

```

*Ejemplo:*

In [4]:
frutas = ('banana', 'naranja', 'mango', 'limon')

primera_fruta = frutas[0]
segunda_fruta = frutas[1]
ultimo_indice =len(frutas) - 1
ultima_fruta = frutas[ultimo_indice]

print(primera_fruta)  # banana
print(segunda_fruta)  # naranja
print(ultimo_indice)  # 3
print(ultima_fruta)   # limon

banana
naranja
3
limon

__Indexación negativa:__

La indexación negativa significa comenzar desde el final, -1 se refiere al último elemento, -2 se refiere al 
penúltimo y el negativo de la longitud de la lista/tupla se refiere al primer elemento. 

*Sintaxis:*

```python
tupla = ('elemnto1', 'elemnto2', 'elemnto3', 'elemnto4')

primer_elemnto = tupla[-4]
segundo_elemnto = tupla[-3]

```

*Ejemplo:*

In [2]:
frutas = ('banana', 'naranja', 'mango', 'limon')

primera_fruta = frutas[-4]
segunda_fruta = frutas[-3]
ultima_fruta = frutas[-1]

print(primera_fruta)    # banana
print(segunda_fruta)    # naranja
print(ultima_fruta)     # limon

banana
naranja
limon

---

## Rebanar tuplas Rango de índices positivos

Podemos dividir una subtupla especificando un rango de índices donde comenzar y donde terminar en la tupla, el valor devuelto será 
una nueva tupla con los elementos especificados.

* __Rango de índices positivos__

*Sintaxis:*

```python
tupla = ('elemnto1', 'elemnto2', 'elemnto3', 'elemnto4')

todos_elemntos = tupla[0:4]          # Todos los elementos
todos_elemntos = tupla[0:]           # Todos los elementos
dos_elemntos_del_medio = tupla[1:3]  # No incluye el elemento del indice 3 ('elemnto1', 'elemnto2', 'elemnto3')

```

*Ejemplo:*

In [ ]:
frutas = ('banana', 'naranja', 'mango', 'limon')

todas_frutas = frutas[0:4]          # Todos los elementos
todas_frutas = frutas[0:]           # Todos los elementos
naranja_mango = frutas[1:3]         # No incluye el elemento del indice 3 ('banana', 'naranja', 'mango')
naranja_hasta_final = frutas[1:]

* __Rango de índices negativos__

*Sintaxis:*

```python
tupla = ('elemnto1', 'elemnto2', 'elemnto3', 'elemnto4')

todos_elemntos = tupla[-4:]            # Todos los elementos
dos_elemntos_del_medi = tupla[-3:-1]   # Esto no incluye el elemento en el indice 3 (-1) '(elemnto2', 'elemnto3')

```


*Ejemplo:*

In [ ]:
frutas = ('banana', 'naranja', 'mango', 'limon')

todas_frutas = frutas[-4:]         # Todos los elementos ('banana', 'naranja', 'mango', 'limon')
naranja_mango = frutas[-3:-1]      # No incluye el elemento del indice 3 ('naranja', 'mango')
naranja_hasta_final = frutas[-3:]  # ('naranja', 'mango', 'limon')

---

## Cambiar tuplas a listas

Podemos cambiar tuplas por listas y listas por tuplas. Las Tuplas son inmutables, si queremos modificar una tupla debemos cambiarla a una 
lista.

*Sintaxis:*

```python
tupla = ('elemnto1', 'elemnto2', 'elemnto3', 'elemnto4')
lst = list(tupla)

```

*Ejemplo:*

In [ ]:
frutas = ('banana', 'naranja', 'mango', 'limon')
frutas = list(frutas)

frutas[0] = 'manzana'
print(frutas)     # ['manzana', 'naranja', 'mango', 'limon']

frutas = tuple(frutas)
print(frutas)     # ('manzana', 'naranja', 'mango', 'limon')

*Salida:*

```text
['manzana', 'naranja', 'mango', 'limon']
('manzana', 'naranja', 'mango', 'limon')

```

---

## Comprobación de un elemento en una tupla

Podemos verificar si un elemento existe o no en una tupla usando el operador `in`, que devolvera un valor booleano (`True, False`). 

*Sintaxis:*

```python
tupla = ('elemnto1', 'elemnto2', 'elemnto3', 'elemnto4')

print('elemnto2' in tupla)  # True

```

*Ejemplo:*

In [ ]:
frutas = ('banana', 'naranja', 'mango', 'limon')
print('naranja' in frutas)    # True

print('manzana' in frutas)    # False
frutas[0] = 'manzana'         # TypeError: 'tuple' object does not support item assignment

*Salida:*

```python
True
False
{
	"name": "TypeError",
	"message": "'tuple' object does not support item assignment",
	"stack": "---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[2], line 5
      2 print('naranja' in frutas)    # True
      4 print('manzana' in frutas)    # False
----> 5 frutas[0] = 'manzana'         # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment"
}

```

---

## Unión de tuplas

Podemos unir dos o más tuplas usando el operador `+` 

*Sintaxis:*

```python
tupla_1 = ('elemnto1', 'elemnto2', 'elemnto3')
tupla_2 = ('elemnto4', 'elemnto5', 'elemnto6')

tupla_3 = tupla_1 + tupla_2

```


*Ejemplo:*

In [ ]:
frutas = ('banana', 'naranja', 'mango', 'limon')
vegetales = ('Tomate', 'Patata', 'Col','Cebolla', 'Zanahoria')

frutas_y_vegetales = frutas + vegetales

print(frutas_y_vegetales)

*Salida:*

```text
('banana', 'naranja', 'mango', 'limon', 'Tomate', 'Patata', 'Col', 'Cebolla', 'Zanahoria')

```

---

## Eliminación de tuplas

No es posible eliminar un solo elemento en una tupla, pero es posible eliminar la tupla en sí usando `del`. 

*Sintaxis:*

```python
tupla_1 = ('elemnto1', 'elemnto2', 'elemnto3')
del tupla_1

```


*Ejemplo:*

In [ ]:
frutas = ('banana', 'naranja', 'mango', 'limon')
del frutas